src/main/mule/githubpoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="be73e679-d9a1-4694-ae99-61c78ba7f742" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="githubpocFlow" doc:id="74fa84ba-abe7-4e69-ab45-e24ad381e4d3" >
		<http:listener doc:name="Listener" doc:id="11acfb97-54fd-48a6-850e-98ba3de29073" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="a67b8f64-ec04-42bc-b843-ecdbd0ce5f6b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"i am creating a emp-sys-api module"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c40c0fda-0835-420b-8564-5c641a2ecf2c" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="881ee2aa-500f-40f4-a7e0-4597cc5d823f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[1,2,3,4,5] map $*2]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
